/*
    Shame
    ---
    Hacks and quick fixes
*/

html {
  background-color: var(--bg-color);
}

body {
  font-family: muli;
  font-size: 1.6rem;
  line-height: 150%;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: #fdfdfd;
  overflow-x: hidden;
}

main {
    background-color: #fdfdfd;
    margin-bottom: 15rem;
    z-index: 1;
    min-height: 100vh;
}

.extra-push {
    margin-top: 7rem;
}


header {
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  //   height: .4rem;
  //   background: linear-gradient(to right, #ee0979, #ff6a00);
  //   animation-name: topbar;
  //   animation-duration: 1s;
  // }
}

.main-title {
  color: #333;
  font-size: 2.7rem;
  font-weight: 600;
  max-width: 70rem;
  letter-spacing: .1rem;
  z-index: 9999999999999;
  transition: .5s;
  line-height: 150%;
  align-self: flex-start;
  margin-left: 10%;
  padding: 8rem 0;

  animation-name: title;
  animation-duration: 1s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  margin-top: 0;
  opacity: 1;
}

.push {
  opacity: 0;
  margin-top: 30rem;
  animation-name: push;
  animation-duration: 1s;
  animation-delay: .75s;
  animation-fill-mode: forwards;
}

.fade-in {
  opacity: 0;
  margin-top: 20rem;
  animation-name: fadein;
  animation-duration: 1s;
  animation-delay: .75s;
  animation-fill-mode: forwards;
}

.hide {
  opacity: 0;
  margin-bottom: -15rem;
  animation-name: hide;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.page-block {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  overflow-x: hidden;
  margin-top: 10rem;

  &:nth-child(3) {
      padding: 15rem 0 5rem;
  }

  & .page-wrapper {
    max-width: 144rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

    & .intro {
      display: flex;
      flex-direction: column;
    }
  }
}

.column {
  flex-direction: column;
}

.italic {
    font-style: italic;
}

.secondary-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 1rem 0 3rem;
}

.self {
  width: 35rem;
  max-width: 35rem;
  height: auto;
  background-size: contain;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 35rem;
    height: .4rem;
    z-index: -1;
    margin-top: -.6rem;
    background: linear-gradient(to right, #ee0979, #ff6a00);
  }
}

.gradient-line--photo {
    width: 35rem;

    & .gradient-line {
        width: 100%;
        height: .4rem;
        background: linear-gradient(to right, #ee0979, #ff6a00);
        margin-top: -.6rem;
    }
}

.work-wrapper2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work {
  width: 46%;
  margin: 1% 2%;

  & .work-hero--img {
    width: 100%;
    transition: .5s;

    &:hover {
      transform: rotate(1deg);
    }
  }

  & a {
      text-decoration: none;
      color: #333;
  }
}

.hamburger {
  position: absolute;
  align-self: flex-end;
  right: 10rem;
  background-image: url(../assets/svg/hamburger.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 3.5rem;
  height: 2.3rem;
  cursor: pointer;
  margin-top: -2.5rem;
  z-index: 99;
}

.main-nav {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #ee0979, #ff6a00);
  justify-content: center;
  align-items: center;
  z-index: 8;

  & ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & li {
      margin: 3rem 0;

      & a {
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 3rem;
        margin: 2rem;
        text-align: center;
        transition: .5s;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.line-p {
  width: 96rem;

  & a {
      color: #ff6a00;
      text-decoration: none;
      transition: .3s;

      &:hover {
          color: #ee0979;
      }
  }
}

.flex-start {
    align-self: flex-start;
}

.extra-large {
    font-size: 3rem;
    font-weight: 700;
}

.daikin-line {

    &::before {
        content: '';
        position: absolute;
        height: 4rem;
        width: .4rem;
        background-color: #8693f3;
        margin-left: -1rem;
    }
}

.bachelor-line {

    &::before {
        content: '';
        position: absolute;
        height: 4rem;
        width: .4rem;
        background-color: #ffc5e3;
        margin-left: -1rem;
    }
}

.msk-line {

    &::before {
        content: '';
        position: absolute;
        height: 4rem;
        width: .4rem;
        background-color: #e83739;
        margin-left: -1rem;
    }
}

.nico-line {

    &::before {
        content: '';
        position: absolute;
        height: 4rem;
        width: .4rem;
        background-color: #ffa624;
        margin-left: -1rem;
    }
}

.video {
    margin-top: 10rem;
}

iframe {
    width: 96rem;
    height: 72rem;
}

.push2 {
    margin-top: 10rem;
}

.contact {
    width: 70rem;
    padding-bottom: 10rem;
}

.intro-title {
    font-weight: 700;
}

.navigation {
    align-self: flex-end;

    & ul {
      display: flex;
      justify-content: center;
      align-items: center;

      & li {
        margin: 3rem 0;

        & a {
          color: gray;
          text-decoration: none;
          font-size: 1.6rem;
          margin: 2rem;
          text-align: center;
          transition: .5s;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
