/*
    Shame
    ---
    Hacks and quick fixes
*/

html {
  background-color: var(--bg-color);
}

body {
  font-family: muli;
  font-size: 1.6rem;
  line-height: 150%;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: #fdfdfd;
  overflow-x: hidden;
}

main {
    background-color: #fdfdfd;
    min-height: 100vh;
    z-index: 1;
}


header {
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
}

.intro-reveal {
    opacity: 0;
    animation-name: reveal;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes reveal {
    from {
        opacity: 0;
        margin-top: 50vh;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

.intro-style {
    position: fixed;
    width: 100vw;
    height: 25vh;
    left: 0;
    background-color: black;
    z-index: 999999999999999;
    animation-name: intro1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.intro-anim-1 {
    top: 0;
    animation-delay: 1s;
}

.intro-anim-2 {
    top: 25vh;
    animation-delay: 1.1s;
}

.intro-anim-3 {
    top: 50vh;
    animation-delay: 1.2s;
}

.intro-anim-4 {
    top: 75vh;
    animation-delay: 1.3s;
}

@keyframes intro1 {
    from {
      left: 0;
    }

    to {
      left: 100vw;
    }
}

.intro-p {
    a {
        color: #6e23ef;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.center-center {
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.main-title {
  color: #333;
  font-size: 2.7rem;
  font-weight: 600;
  max-width: 70rem;
  letter-spacing: .1rem;
  z-index: 9999999999999;
  transition: .5s;
  line-height: 150%;
  align-self: flex-start;
  margin-left: 10%;
  padding: 8rem 0;

  animation-name: title;
  animation-duration: 1s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  margin-top: 0;
  opacity: 1;
}

.push {
  opacity: 0;
  margin-top: 30rem;
  animation-name: push;
  animation-duration: 1s;
  animation-delay: .75s;
  animation-fill-mode: forwards;
}

.fade-in {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-delay: .75s;
  animation-fill-mode: forwards;
}

.hide {
  opacity: 0;
  margin-bottom: -15rem;
  animation-name: hide;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.absolute-page-block {
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;

    & .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 999;

        & .intro {
            max-width: 60rem;
            margin: 3rem 0;
            padding: 2rem;
            display: flex;
            flex-direction: column;
        }
    }
}

.self {
  width: 40%;
  height: 100vh;
  background-size: cover;
  background-position: top;
  object-fit: cover;
  position: sticky;
  top: 0;
}

.page-block {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  overflow-x: hidden;
  padding-bottom: 8rem;

  &:nth-child(3) {
      padding: 15rem 0 5rem;
  }

  & .page-wrapper {
    max-width: 144rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    margin-top: 8rem;
  }
}

.work-overview--item {
    width: 60vw;
    margin-bottom: 1.5rem;

    > p {
        font-style: italic;
        margin-left: 2rem;

        & a {
            color: #6e23ef;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.work-overview--title {
    font-weight: bold;
    margin-left: 2rem;

    &::before {
        content: '';
        position: absolute;
        width: .8rem;
        height: .8rem;
        border-radius: 1rem;
        margin-top: .8rem;
        margin-left: -2rem;
        background-color: #8cf6ed;
    }
}

.self-split {
    width: 50%;
    padding: 0 2rem;
    align-self: flex-start;
    padding-bottom: 4rem;
}

.skill-set {
    display: flex;
    flex-wrap: wrap;

    & li {
        border: .2rem solid #8cf6ed;
        padding: .5rem 1rem;
        border-radius: .5rem;
        margin: .5rem;

    }
}

.column {
  flex-direction: column;
}

.italic {
    font-style: italic;
}

.secondary-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 1rem 0 3rem;
}

.gradient-line--photo {
    width: 35rem;

    & .gradient-line {
        width: 100%;
        height: .4rem;
        background: linear-gradient(to right, #ee0979, #ff6a00);
        margin-top: -.6rem;
    }
}

.work-wrapper2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}

.work {
  width: 46%;
  margin: 1% 2%;

  & .work-hero--img {
    width: 100%;
    transition: .5s;

    &:hover {
      transform: rotate(1deg);
    }
  }

  & a {
      text-decoration: none;
      color: #333;
  }
}

.hamburger {
  position: absolute;
  align-self: flex-end;
  right: 10rem;
  background-image: url(../assets/svg/hamburger.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 3.5rem;
  height: 2.3rem;
  cursor: pointer;
  margin-top: -2.5rem;
  z-index: 99;
}

.main-nav {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #ee0979, #ff6a00);
  justify-content: center;
  align-items: center;
  z-index: 8;

  & ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & li {
      margin: 3rem 0;

      & a {
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 3rem;
        margin: 2rem;
        text-align: center;
        transition: .5s;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.line-p {
  width: 96rem;

  & a {
      color: #6e23ef;
      text-decoration: none;
      transition: .3s;

      &:hover {
          text-decoration: none;
      }
  }
}

.flex-start {
    align-self: flex-start;
}

.extra-large {
    font-size: 3rem;
    font-weight: 700;
}

.daikin-line {

    &::before {
        content: '';
        position: absolute;
        height: 4rem;
        width: .4rem;
        background-color: #8693f3;
        margin-left: -1rem;
    }
}

.bachelor-line {

    &::before {
        content: '';
        position: absolute;
        height: 4rem;
        width: .4rem;
        background-color: #ffc5e3;
        margin-left: -1rem;
    }
}

.msk-line {

    &::before {
        content: '';
        position: absolute;
        height: 4rem;
        width: .4rem;
        background-color: #e83739;
        margin-left: -1rem;
    }
}

.nico-line {

    &::before {
        content: '';
        position: absolute;
        height: 4rem;
        width: .4rem;
        background-color: #ffa624;
        margin-left: -1rem;
    }
}

.summer-line {

    &::before {
        content: '';
        position: absolute;
        height: 4rem;
        width: .4rem;
        background-color: #4debd8;
        margin-left: -1rem;
    }
}

.upline-line {

    &::before {
        content: '';
        position: absolute;
        height: 4rem;
        width: .4rem;
        background-color: #0157FF;
        margin-left: -1rem;
    }
}

.video {
    margin-top: 10rem;

    > iframe {
        width: 96rem;
        height: 72rem;
    }
}

.clickable {
    margin-top: 10rem;
}

.push2 {
    margin-top: 10rem;
}

.contact {
    width: 70rem;
    padding-bottom: 10rem;
}

.intro-title {
    font-weight: 700;
}

.navigation {
    align-self: flex-end;
    margin-right: 1rem;

    & ul {
      display: flex;
      justify-content: center;
      align-items: center;

      & li {
        margin: 3rem 0;

        & a {
          color: gray;
          text-decoration: none;
          font-size: 1.6rem;
          margin: 2rem;
          text-align: center;
          transition: .5s;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .credit-wrap {
      position: absolute;
  }

  .credit-wrap2 {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 999;
  }

  .credit {
      width: 13.5rem;
      height: 13.5rem;
      background-image: url(../assets/img/corner.png);
      background-size: cover;
  }

  .blog {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      // align-items: center;
      width: 100vw;
  }

  .blogintro {
      width: 90vw;
      max-width: 140rem;
      display: flex;
      flex-direction: column;

      & h1 {
          color: #333;
          font-size: 2.7rem;
          font-weight: 600;
          max-width: 70rem;
          letter-spacing: .1rem;
          z-index: 9999999999999;
          transition: .5s;
          line-height: 150%;
          align-self: flex-start;
          margin-bottom: 2rem;
      }
  }

  .blog-sidebar {
      width: 50vw;
      max-width: 50rem;
      height: 100vh;
      background-image: url(../assets/img/self/self-75w.jpg);
      background-size: cover;
      background-repeat: no-repeat;
  }

  .blog-content {
      width: 90vw;
      max-width: 140rem;
      margin-top: 10rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
  }

  .blog-article {
      background-color: white;
      width: 46%;
      margin: 1% 2%;
      min-height: 10rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      box-shadow: .1rem .1rem .5rem #ededed;

      & a {
          color: #333;
          text-decoration: none;
      }
  }

  .blog-overlay {
      height: auto;
      background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background: #24C6DC;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  // .blogbutton {
  //     border-image-slice: 1;
  // border-width: 2px;
  //     border-image: linear-gradient(to left, #743ad5, #d53a9d);
  //     border-bottom: #24C6DC;  /* fallback for old browsers */
  //     border-bottom: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
  //     border-bottom: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // }

  .arrowright {
      background-image: url(../assets/svg/arrow-right.svg);
      width: 7rem;
      height: 1.1rem;
      margin-left: 2rem;
  }

  .blog-article-wrapper {
      margin: 2rem;
      display: flex;
      flex-direction: column;
  }

  .blog-header {
      width: 100%;
      height: 40rem;
      border-radius: 1rem 1rem 0 0;
  }

  .blog-title {
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: .1rem;
  }

  .blog-date {
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .1rem;
      margin-top: 1rem;
      color: gray;
  }

  .blog-description {
      font-size: 300;
      line-height: 150%;
      letter-spacing: .05rem;
      margin: 1rem 0;
  }

  .newyork-cover {
      background-image: url(../assets/img/blog/newyork/newyorkcover.JPG);
      background-size: cover;
      background-position: top;
  }

  .blog-cta {
      display: flex;
      margin-top: 1rem;
      align-self: flex-end;
      flex-direction: row;
  }

  .blog-cta a {
      color: #333;
      letter-spacing: .1rem;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .blogpost {
      max-width: 80rem;
      line-height: 175%;
  }

  .blogpost-header {
      width: 100%;
      height: 40rem;
      margin-bottom: 2rem;
  }

  .blogpost-title {
      font-weight: bold;
      font-size: 2.4rem;
      letter-spacing: .1rem;
      margin: 2rem 0;
  }

  .blogpost-intro {
      margin: 2rem 0;
      font-weight: bold;
  }

  .blogpost-photos-2 {
      margin: 2rem 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .blogpost-photos-4 {
      display: flex;
      flex-direction: column;
      height: 40rem;
      width: 50%;
      justify-content: space-between;
  }

  .instagrampost {
      width: 48%;
      height: 48%;
  }

  .collage-square {
      width: 39rem;
      height: 39rem;
      margin: 1rem 0;
  }

  .tall {
      width: 48%;
      height: 100%;
  }

  .margin {
      margin-top: 4%;
  }

  .blogpost-split {
      margin: 2rem 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .split {
      width: 48%;
  }

  .blogpost-block {
      margin-top: 10rem;
  }
  .blogpost-p {

  }

  strong {
      font-weight: bold;
  }

  .blogpost-subtitle {
      font-weight: bold;
      font-size: 1.8rem;
      margin-bottom: 2rem;
  }

  .blogpost-photos-3 {
      display: flex;
      margin: 2rem 0;
      justify-content: space-between;
  }

  .collage-tall {
      width: 50%;
      height: 80rem;
      margin: 1rem 0;
      background-size: cover;
  }
  .vertical {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
  }

  .blogpost-end {
      margin-bottom: 8rem;
  }

  .hashtag {
      color: blue;
  }
