<footer class="hide">
    <ul class="footer-nav">
        <li class="footer-nav--item"><a href="/">Work</a></li>
        <li class="footer-nav--item"><a href="https://laurensvandevyver.com/page/about/">About</a></li>
        <li class="footer-nav--item"><a href="https://laurensvandevyver.com/page/contact/">Contact</a></li>
    </ul>
    <ul class="footer-nav">
        <li class="footer-nav--item"><a target="_blank" href="https://www.linkedin.com/in/laurensvandevyver/"><i class="fab fa-linkedin-in"></i></a></li>
        <li class="footer-nav--item"><a target="_blank" href="https://www.behance.net/laurensvdv"><i class="fab fa-behance"></i></a></li>
        <li class="footer-nav--item"><a target="_blank" href="https://dribbble.com/laurensvdv"><i class="fab fa-dribbble"></i></a></li>
        <li class="footer-nav--item"><a target="_blank" href="https://www.instagram.com/laurens.psd/"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <p class="footer-credit">© Laurens Vandevyver 2018</p>
</footer>
