<header>
  <!-- <h1 class="main-title"><a href="/">Laurens Vandevyver</a></h1>
  <div class="hamburger"></div>
  <div class="main-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/laurensvandevyver/">LinkedIn</a></li>
      <li><a target="_blank" href="https://www.behance.net/laurensvdv">Behance</a></li>
      <li><a target="_blank" href="https://dribbble.com/laurensvdv">Dribbble</a></li>
      <li><a target="_blank" href="https://www.instagram.com/laurens.psd/">Instagram</a></li>
    </ul>
  </div> -->
    <div class="navigation">
        <ul>
            <li><a href="/">Work</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </div>
</header>
