<footer class="hide">
    <ul class="footer-nav">
        <li class="footer-nav--item"><a href="/">Home</a></li>
        <li class="footer-nav--item"><a href="/#work">Work</a></li>
        <li class="footer-nav--item"><a href="/#contact">Contact</a></li>
        <li class="footer-nav--item"><a target="_blank" href="https://www.linkedin.com/in/laurensvandevyver/">LinkedIn</a></li>
        <li class="footer-nav--item"><a target="_blank" href="https://www.behance.net/laurensvdv">Behance</a></li>
        <li class="footer-nav--item"><a target="_blank" href="https://dribbble.com/laurensvdv">Dribbble</a></li>
        <li class="footer-nav--item"><a target="_blank" href="https://www.instagram.com/laurens.psd/">Instagram</a></li>
    </ul>
    <p class="footer-credit">© Laurens Vandevyver 2018</p>
</footer>
